extends ../layout/common
block content
  style.
    td{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    }

  if(checkAdmin.isAdmin === true)
    h1 listBooks
    a.btn.btn-success(href="/books/create") New
    hr
    style.
      th,td{
      border: 1px soild black;
      text-align:center;
      }
      table{
        width: 500px;
      }
    table.table
          tr
            th TITLE
            th Image
            th DESCRIPTION  
            th UPDATE
            th DELETE
          each book in books   
            tr
              td=book.title
              td
                img(src=book.coverUrl, alt="", width="40")
              td=book.description
              td
                a.btn.btn-primary(href="/books/"+book.id+"/update") Update
              td
                a.btn.btn-danger(href="/books/"+book.id+"/delete") Remove
  else if(!checkAdmin.isAdmin || checkAdmin===1)
    h1 listBooks
    hr
    style.
      th,td{
      border: 1px soild black;
      text-align:center;
      }
      table{
        width: 500px;
      }
    table.table
          tr
            th TITLE
            th IMAGE
            th DESCRIPTION  
            th ADD CARD
          each book in books   
            tr
              td=book.title
              td
                img(src=book.coverUrl, alt="", width="40")
              td=book.description
              td
                a(href='/cart/add/'+book._id ).btn.btn-success Add Cart
  nav(aria-label='...')
      ul.pagination
          li.page-item.disabled
          a.page-link(href="?page"+"="+(listPage[1]-1) tabindex='-1') Previous
          li.page-item
          a.page-link(href="?page"+"="+listPage[0])=listPage[0]
          li.page-item.active
          a.page-link(href="?page"+"="+listPage[1])=listPage[1]
              span.sr-only(current)
          li.page-item
          a.page-link(href="?page"+"="+listPage[2])=listPage[2]
          li.page-item
          a.page-link(href="?page"+"="+(listPage[1]+1)) Next